@charset "UTF-8";
.demarches {
  display: flex;
  padding: 10%;
  gap: 5%;
}
.demarches .circle {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  width: 500px;
  height: 400px;
}
.demarches .circle img {
  position: relative;
  display: flex;
  height: 70%;
  width: 60%;
  top: 10%;
}
.demarches .demarchesTexte {
  flex-direction: column;
}
.demarches .demarchesTexte p {
  text-align: start;
}
.demarches .lienDemarche {
  display: flex;
  flex-direction: row;
}
.demarches .lienDemarche a {
  justify-content: space-around;
  text-decoration: none;
}
.demarches .lienDemarche a img {
  height: 50px;
  width: 50px;
  transform: rotate(180deg);
}
.demarches .lienDemarche h2 {
  font-size: 30px;
}

fieldset {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
}

.EvenementsAccueil {
  margin-left: 10%;
}

.containerdeux .imagesEvenementsAccueil {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding-bottom: 50px;
}
.containerdeux .foiredumidi {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding-bottom: 50px;
}
.containerdeux .containerdeuxtexte h2 {
  text-align: center;
}
.containerdeux .containerdeuxtexte p {
  text-align: center;
}
.containerdeux img {
  border-radius: 100px 100px 0px 0px;
  width: 380px;
  height: 250px;
  padding: 2%;
}

.containerun {
  background-color: #494747;
  margin: 5%;
  padding: 5%;
  margin-top: 0%;
}

.accueilIntro p {
  font-size: 20px;
}
.accueilIntro h2 {
  font-size: 50px;
  text-align: center;
}

.dernieresnouvelles h2 {
  text-align: center;
}

.ActusLiens a {
  color: #DABB70;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slides {
  position: relative;
  height: 500px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  background-image: url("../../images/accueil/notabene2.jpg");
  width: 50%;
}

.slider__slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: #333;
  color: #fff;
  transition: opacity 0.5s;
}

.showing {
  opacity: 1;
  z-index: 2;
}

.slider {
  height: 800px;
  overflow: hidden;
  position: relative;
}

.slider img {
  width: 80%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  padding-left: 10%;
}

.slider img.active {
  opacity: 1;
}

.slider .arrow {
  position: absolute;
  top: 40%;
  padding-right: 10%;
  transform: translateY(-50%);
  font-size: 50px;
  cursor: pointer;
  color: #DABB70;
}

.slider .prev {
  left: 11%;
}

.slider .next {
  right: 10px;
}

.container p {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 50px;
  color: white;
  font-family: "Jost", sans-serif;
  text-align: start;
  line-height: 30px;
}

@media all and (max-width: 500px) {
  .container p {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin: auto;
    font-size: large;
  }
}
html {
  overflow-x: hidden;
}

.CorpsDePage {
  background-color: #333333;
  width: 100%;
  padding-bottom: 5%;
  padding-top: 0%;
}
.CorpsDePage .EventNumerique {
  background-color: #494747;
  width: 87%;
  margin-left: 4%;
  padding-left: 4%;
  padding-bottom: 4%;
}
.CorpsDePage .EventNumerique .DateEventNum h1 {
  display: flex;
  justify-content: center;
  color: #DABB70;
  font-family: "Lora", serif;
  letter-spacing: 3px;
  font-size: 50px;
  padding-top: 2%;
  padding-left: 8px;
}
.CorpsDePage p .TexteADroite .DescriptionPrintempsNumerique {
  font-size: 30px;
}
.CorpsDePage .BlocImgTxt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.CorpsDePage .TexteADroite {
  display: flex;
  flex-direction: column;
  align-self: center;
  color: white;
  width: 28%;
  margin-right: 13%;
  font-family: "Jost", sans-serif;
}
.CorpsDePage .NouvelleTechnologie {
  width: 80%;
}
.CorpsDePage .NouvelleTechnologie img {
  display: flex;
  padding-bottom: 4%;
  width: 80%;
  margin-left: 1%;
}

.DescriptionPrintempsNumerique {
  display: flex;
  gap: 20px;
  width: 86%;
  margin-left: 9px;
  font-family: "Jost", sans-serif;
}

.footerContact {
  margin-bottom: 0;
}

.footerContact {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 0;
  padding: 5%;
}
.footerContact .footerTexteContact h2 {
  font-family: "Lora", serif;
  font-size: xxx-large;
  color: #DABB70;
  justify-content: start;
  margin-top: 0;
}
.footerContact .footerMap {
  display: flex;
  justify-content: center;
  margin-right: 10%;
}
.footerContact .footerMap iframe {
  width: 600px;
  height: 400px;
}

.footerTexteContact p {
  margin-right: 20%;
  line-height: 40px;
}

.logoContact {
  display: flex;
  gap: 20px;
}
.logoContact #facebook {
  width: 50px;
}
.logoContact #twitter {
  width: 50px;
}
.logoContact #instagram {
  width: 50px;
}
.logoContact #tiktok {
  width: 50px;
}
.logoContact #youtube {
  width: 50px;
}
.logoContact #spotify {
  width: 50px;
}

.basPage {
  background-color: #3e6291;
  display: flex;
  justify-content: center;
  padding: 2%;
}
.basPage .texteEtLien {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}
.basPage .texteEtLien .basPageTexte {
  display: flex;
  font-family: "Jost", sans-serif;
  color: white;
  font-size: 30px;
  justify-content: center;
}
.basPage .texteEtLien .lienFooter {
  font-family: "Jost", sans-serif;
  font-size: 40px;
}
.basPage .texteEtLien .lienFooter a {
  color: white;
}
.basPage .texteEtLien .footerHebergement p {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.logoFooter {
  display: flex;
  flex-direction: column;
}
.logoFooter #animaux {
  width: 57px;
}
.logoFooter #unesco {
  width: 150px;
}
.logoFooter #vbx {
  width: 150px;
}

@media all and (max-width: 500px) {
  footer {
    width: 100%;
  }
  .footerContact {
    flex-direction: column;
    width: 100%;
    padding: 0%;
    margin-left: 5%;
  }
  .footerContact h2 {
    width: 100%;
  }
  .footerContact .footerTexteContact h2 {
    margin-top: 30px;
    font-size: xx-large;
    text-align: start;
    margin-left: 10%;
  }
  .footerContact p {
    font-size: large;
    margin-right: 13%;
  }
  .logoContact {
    display: block;
    padding-bottom: 20px;
  }
  .footerTexteContact {
    width: 100%;
  }
  .footerMap iframe {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 25px;
  }
  .footerContact .footerMap iframe {
    height: 200px;
    width: 300px;
  }
  .logoFooter {
    flex-direction: row;
  }
  .logoFooter a {
    width: 60%;
  }
  .basPage {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }
  .basPageTexte p {
    font-size: medium;
  }
  .lienFooter {
    width: 100%;
  }
  .lienFooter a {
    font-size: 20px;
  }
  .footerHebergement p {
    font-size: medium;
  }
}
.formulaire {
  border: thick #DABB70 double;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 20px;
  padding-bottom: 100px;
  background-color: #494747;
  box-shadow: 5px 5px 10px white;
}

.formulaire h2 {
  text-align: center;
  color: #DABB70;
  font-family: "Lora", serif;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.name {
  display: flex;
  gap: 200px;
  color: white;
  font-family: "Lora", serif;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 20px;
}

.lastname input {
  width: 300px;
  height: 30px;
  margin-top: 10px;
}

.firstname input {
  width: 300px;
  height: 30px;
  margin-top: 10px;
}

.mail-phone {
  gap: 15px;
  padding-top: 15px;
  color: white;
  font-family: "Lora", serif;
  margin-left: 30%;
  margin-right: 30%;
}

.email input {
  width: 800px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.phone input {
  width: 800px;
  height: 30px;
  margin-top: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 5px;
  color: white;
  font-family: "Lora", serif;
  margin-left: 30%;
  margin-right: 30%;
}

.message textarea {
  width: 800px;
  height: 200px;
}

.ville {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 2px;
  color: white;
  font-family: "Lora", serif;
  padding-top: 15px;
  margin-left: 30%;
  margin-right: 30%;
}

.ville input {
  width: 800px;
  height: 30px;
}

.contact button {
  padding: 10px 30px;
  background-color: #a48438;
  font-family: "Jost", sans-serif;
  color: white;
  margin-top: 20px;
  display: flex;
  align-self: center;
  margin-left: 60%;
  margin-right: 13.5%;
  border-radius: 20px;
  letter-spacing: 2px;
}

button:hover {
  background-color: rgb(29, 29, 95);
}

@media all and (max-width: 500px) {
  .formulaire {
    width: 90%;
    margin-left: 2%;
    margin-right: 2%;
  }
  .formulaire h2 {
    text-align: center;
    font-size: large;
  }
  .name {
    flex-direction: column;
    gap: 10px;
    margin-left: 10%;
    margin-right: 5%;
    padding-bottom: 0;
  }
  .lastname input {
    width: 100%;
    height: 30px;
    margin-top: 10px;
  }
  .firstname input {
    width: 100%;
    height: 30px;
    margin-top: 10px;
  }
  .mail-phone {
    margin-left: 10%;
    margin-right: 5%;
  }
  .email input {
    width: 100%;
    height: 30px;
    margin-top: 10px;
  }
  .phone input {
    width: 100%;
    height: 30px;
    margin-top: 10px;
  }
  .ville {
    margin-left: 10%;
    gap: 0;
    margin-right: 5%;
  }
  .ville input {
    width: 100%;
    height: 30px;
  }
  .message {
    margin-left: 10%;
    margin-right: 5%;
  }
  .message textarea {
    width: 100%;
    height: 150px;
    margin: auto;
  }
  .contact button {
    display: flex;
    align-self: flex-start;
    margin-left: 10%;
  }
}
.header h1 {
  color: white;
  align-items: center;
  font-family: "Lora", serif;
}

header {
  background-image: url(/images/accueil/cover2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 40%;
  height: 500px;
}

.header h2 {
  font-family: "Jost", sans-serif;
  margin: auto;
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
}

.elementhd {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  background-color: rgba(0, 0, 0, 0.474);
  margin-left: 60%;
  padding-bottom: 160px;
}
.elementhd h1 {
  display: flex;
  justify-content: center;
  font-size: 35px;
}
.elementhd h2 {
  display: flex;
  justify-content: center;
}

.nav {
  font-size: 25px;
}
.nav #ac {
  text-decoration: none;
  color: white;
  font-family: "Jost", sans-serif;
}
.nav #ac:hover {
  color: #DABB70;
}

.AccueilNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right: 0px;
  list-style: none;
}

.logo img {
  width: 250px;
  padding-left: 35%;
  margin-top: 15px;
}

.search-box {
  position: absolute;
  top: 45%;
  left: 81%;
  transform: translate(-50%, -50%);
  background: #666666;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}

.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}

.search-box:hover > .search-btn {
  background: white;
  color: #DABB70;
}

.search-btn {
  color: #eeeeee;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #DABB70;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.search-btn > i {
  font-size: 20px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  font-weight: bold;
}

@media screen and (max-width: 820px) {
  .logo img {
    width: 50%;
  }
  header {
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: 40%;
    height: 500px;
  }
  .elementhd {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    background-color: rgba(0, 0, 0, 0.474);
    margin-left: 60%;
    padding-bottom: 170px;
  }
  /* On screens that are 600px wide or less, the background color is olive */
}
@media screen and (max-width: 820px) and (max-width: 500px) {
  .logo img {
    width: 60%;
  }
  header {
    background-size: 290%;
    background-repeat: no-repeat;
    background-position: 40%;
    height: 500px;
  }
  .elementhd {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    background-color: rgba(0, 0, 0, 0.474);
    margin-left: 60%;
    padding-bottom: 90px;
  }
}
#ac {
  position: relative;
}
#ac::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 2px;
  background-color: #DABB70;
  transition: transform 250ms;
}
#ac:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.header3 h1 {
  color: white;
  font-family: "Lora", serif;
}

.hd3 {
  background-image: url(/images/photos/pexels-vlada-karpovich-4050470.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 30%;
  height: 500px;
}

.header3 h1 {
  font-family: "Jost", sans-serif;
  margin: auto;
  font-size: 30px;
  margin-bottom: 10px;
}

.TitreHeaderContact {
  display: flex;
  justify-content: space-between;
  font-size: 55px;
  padding-left: 20%;
}
.TitreHeaderContact .TitreContact {
  margin-top: 0;
  font-size: 55px;
}

.ContactLogo .logo3 {
  display: flex;
  justify-content: end;
}

.contenuhd3 {
  padding-left: 50px;
  background-color: rgba(94, 83, 83, 0.296);
  padding-bottom: 250px;
  padding-top: 30px;
}

.nav3 {
  font-size: 25px;
  display: flex;
  justify-content: end;
  padding-right: 25px;
}
.nav3 a {
  text-decoration: none;
  color: white;
  font-family: "Jost", sans-serif;
}
.nav3 a:hover {
  color: #DABB70;
}

.EvenementNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
  margin-right: 60px;
  list-style: none;
}

.logo3 {
  display: flex;
  justify-content: end;
}

.logo3 img {
  width: 280px;
  padding-right: 120px;
}

@media all and (max-width: 500px) {
  .hd3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .logo3 img {
    padding-right: 5%;
    width: 60%;
  }
  .TitreHeaderContact {
    padding-left: 0;
    flex-direction: column-reverse;
  }
  .TitreHeaderContact .TitreContact {
    font-size: 30px;
    margin-top: 60px;
  }
  .nav3 {
    display: block;
  }
  .contenuhd3 {
    background: none;
  }
}
.header2 h1 {
  color: white;
  font-family: "Lora", serif;
}

.hd2 {
  background-image: url(/images/événements/evenement1.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 30%;
  height: 500px;
}

.header2 h2 {
  font-family: "Jost", sans-serif;
  margin: auto;
  font-size: 30px;
  margin-bottom: 10px;
}

.TitreHeaderEvenement {
  display: flex;
  justify-content: space-between;
  font-size: 55px;
  padding-left: 20%;
}
.TitreHeaderEvenement .TitreEvenement {
  margin-top: 0;
  font-size: 55px;
}

.EventLogo .logo2 {
  display: flex;
  justify-content: end;
}

.contenuhd2 {
  padding-left: 50px;
  background-color: rgba(94, 83, 83, 0.296);
  padding-bottom: 250px;
  padding-top: 30px;
}

.nav2 {
  font-size: 25px;
  display: flex;
  justify-content: end;
  padding-right: 55px;
}
.nav2 a {
  text-decoration: none;
  color: white;
  font-family: "Jost", sans-serif;
}
.nav2 a:hover {
  color: #DABB70;
}

.EvenementNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
  margin-right: 60px;
  list-style: none;
}

.logo2 {
  display: flex;
  justify-content: end;
}

.logo2 img {
  width: 280px;
  padding-right: 120px;
}

@media screen and (max-width: 500px) {
  aside {
    display: none;
  }
  aside.active {
    display: block;
  }
}
.ligne {
  border: 2px solid;
  color: #DABB70;
}

body {
  margin: 0;
  padding: 0%;
}

h2 {
  font-family: "Lora", serif;
  color: #DABB70;
  font-size: 50px;
}

p {
  font-family: "Jost", sans-serif;
  color: white;
  font-size: 30px;
}

main {
  background-color: #333333;
  height: 80%;
  padding-top: 4%;
}

.dernieresnouvelles {
  padding-top: 30px;
}

.containerun p {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}/*# sourceMappingURL=main.css.map */