.header2 h1 {
  color: $couleurTitreHeader;

  font-family: $policeTitre;
}

.hd2 {
  background-image: url(/images/événements/evenement1.webp);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 30%;
  height: 500px;
}

.header2 h2 {
  font-family: $policeTexte ;
  margin: auto;
  font-size: 30px;
  margin-bottom: 10px;
}

.TitreHeaderEvenement {
  display: flex;
  justify-content: space-between;
  font-size: 55px;
  padding-left: 20%;
  
  .TitreEvenement{
    margin-top: 0;
    font-size: 55px;
  }
}
.EventLogo .logo{
  display: flex;
  justify-content: end;
  padding-right: 10%;
}

.contenuhd2 {
  padding-left: 50px;
  background-color: rgba(94, 83, 83, 0.296);
  padding-bottom: 250px;
  padding-top: 30px;
}

.nav2 {
  font-size: 25px;
  display: flex;
  justify-content: end;
  padding-right: 55px;

  a {
    text-decoration: none;
    color: white;
    font-family: $policeTexte ;
  }

  a:hover {
    color: #DABB70;
  }
}

.EvenementNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
  margin-right: 60px;
  list-style: none;
}

.logo2 {
  display: flex;
  justify-content: end;
}

.logo2 img {
  width: 280px;
  padding-right: 120px;
}

@media  all and (max-width: 500px)  {

  .hd2{
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }
 
  .DateEventNum h1 {
    font-size:x-large;
  }

  .CorpsDePage .BlocImgTxt  {
    flex-direction: column;
  }

  .CorpsDePage .NouvelleTechnologie {
    width: 100%;
    margin-left: 0;
    padding-top: 25px;
  }

  .CorpsDePage .TexteADroite {
    padding-left: 0;
    margin-right: 2%;
    font-size: large;
    text-align: justify;
    letter-spacing: 0.5px;
    line-height: 30px;
  }

  .CorpsDePage h1 {

    font-size: x-large;
  }

  .CorpsDePage .BlocImgTxt1{
    flex-direction: column;
  }
  .CorpsDePage .Festival{
    width: 100%;
    margin-left: 0;
    padding-top: 25px;
  }

  .CorpsDePage .TexteAGauche{
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: justify;
    // letter-spacing: 0.5px;
    line-height: 30px;
    font-size: large;

  }

  .CorpsDePage .BlocImgTxt2{
    flex-direction: column;
   
  }

  .CorpsDePage .BruxelleTour{
    width: 100%;
    margin-left: 0;
    padding-top: 25px;

  }

  .CorpsDePage .BlocImgTxt3{
    flex-direction: column;

  }

  .CorpsDePage .FoireDuMidi{
    width: 100%;
    margin-left: 0;
    padding-top: 25px;
    margin-right: 5%;
    text-align: justify;

  }

  .CorpsDePage .BlocImgTxt4{
    flex-direction: column;
  }

  .CorpsDePage .MatchDeFoot{
    width: 100%;
    margin-left: 0;
    padding-top: 25px;
    margin-right: 5%;
    padding-bottom: 6%;
  }

  .CorpsDePage .BlocImgTxt5{
    flex-direction: column;

  }

  .CorpsDePage .MannifDeMatt{
    width: 100%;
    margin-left: 0;
    padding-top: 25px;
    margin-right: 5%;
    
  }




  


  
}