
.EvenementsAccueil{
  margin-left: 10%;
}


// Grid version Dekstop
.containerdeux {

  .imagesEvenementsAccueil{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    padding-bottom: 50px;
}
.imagesEvenementsAccueildeux{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap: 5px;
 padding-bottom: 50px;
}

  .containerdeuxtexte{
    h2 {text-align: center;}
    p {text-align: center;}
  }
    img {
      border-radius: 100px 100px 0px 0px;
      width: 380px;
      height: 250px;
      padding: 2%;
    }
}





// Passage souris sur les événements 
.overlay-image {
  position: relative; 
  display: inline-block; 
}

.overlay-image img {
  vertical-align: middle; 
}

.overlay-image .hover-image {
  /* Positionnement du contenu hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  /* Effets de transition */
  opacity: 0; 
  transition: opacity 0.25s ease-in-out;

  /* Style du contenu hover */
  background-color: rgb(51 51 51 / 74%); /* Couleur par défaut */
  color: white;
  padding: 30px;
  border-radius: 100px 100px 0px 0px;
      width: 380px;
      height: 250px;
      padding: 2%;            
  
  /* Centrer le contenu */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.overlay-image:hover .hover-image {
  opacity: 1; /* Lors du hover, on remet l'opacité à 1 */
}

.EvenementsAccueil h3{
  font-family: $policeTexte;
}

.EvenementsAccueil a{
  font-family: $policeTexte;
  color: white;
}

// Média Queries evenements
@media screen and (max-width: 500px){

  .containerdeuxtexte h2{
    font-size: 25px;
  }
  .containerdeuxtexte p{
    font-size: 12px;
  }

  .containerdeux{
  img {
      border-radius: 100px 100px 0px 0px;
      width: 140px;
      height: 120px;
      padding: 2%;
    }
  }

  .overlay-image .hover-image {
    border-radius: 100px 100px 0px 0px;
    width: 140px;
    height: 120px;
    padding: 2%;        
    
  }

  
.EvenementsAccueil h3{
  font-family: $policeTexte;
  font-size: 10px;
}

.EvenementsAccueil a{
  font-family: $policeTexte;
  color: white;
}

.EvenementsAccueil p{
  font-family: $policeTexte;
  color: white;
  font-size: 10px;
}

.EvenementsAccueil{
  margin-left: 3%;
 
}

}