
.EvenementsAccueil{
  margin-left: 10%;
}

.containerdeux {

  .imagesEvenementsAccueil{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    padding-bottom: 50px;
}
.foiredumidi{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-gap: 5px;
 padding-bottom: 50px;
}

  .containerdeuxtexte{
    h2 {text-align: center;}
    p {text-align: center;}
  }
    img {
      border-radius: 100px 100px 0px 0px;
      width: 380px;
      height: 250px;
      padding: 2%;
    }
}