// section Démarches
.demarches {
    display: flex;
    padding: 10%;
    gap: 5%;

    // position de l'icone 
    .circle {
        display: flex;
        justify-content: center;
        background-color: white;
        border-radius: 50%;
        width: 500px;
        height: 400px;

        img {
            position: relative;
            display: flex;
            height: 70%;
            width: 60%;
            top: 10%;
        }

    }

    // texte section 
    .demarchesTexte {
        flex-direction: column;

        p {
            text-decoration: none;
            text-align: start;
        }
    }

    // lien
    .lienDemarche {
        display: flex;
        flex-direction: row;
        justify-content: space-between;


        a {
            text-decoration: none;

            img {
                height: 50px;
                width: 50px;
                transform: rotate(180deg);
            }
        }

        h2 {
            font-size: $tailleTexte;
        }
    }
}

// trait autour de boite
fieldset {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
}


@media screen and (max-width: 500px) {

    .demarches .lienDemarche h2{
        font-size: 25px;
    }

    .demarches {
        display: flex;
        padding: 10%;
        gap: 5%;

        .circle {
            display: flex;
            justify-content: center;
            background-color: white;
            border-radius: 50%;
            width: 210px;
            height: 200px;

            img {
                position: relative;
                display: flex;
                height: 60%;
                width: 50%;
                top: 20%;
            }

        }
    }

   

        .demarches {
            display: flex;
            flex-direction: column;
          
        
        h2 {
            font-size: 25px;
        }

        p{
            font-size: 20px;
        }

    }

   
}