.ligne{

  border: 2px solid;
  color: $couleurTitreMain;
}

body {
  margin: 0;
  padding: 0%;
}

h2 {
  font-family: $policeTitre;
  color: $couleurTitreMain;
  font-size: $tailleTitreEvenement ;
}

p {
  font-family: $policeTexte;
  color: $couleurTexte;
  font-size: $tailleTexte ;
}

main {
  background-color: $backgroundMain;
  height: 80%;
  padding-top: 1%;
}

.dernieresnouvelles{
padding-top: 30px;
}

.containerun p{
display: flex;
justify-content: center;
margin-bottom: 20px;
margin-left: 10%;
margin-right: 23%;
}

// media queries

@media all and (max-width: 500px) {

  .accueilIntro h2{
    font-size: 30px;
  }

  .accueilIntro p{
    font-size: 12px;
  }


  .dernieresnouvelles h2{
 
      font-size: 30px;
  }
}




@media all and (max-width: 500px) {
.dernieresnouvelles{
  padding-top: 5px;
  }

  
.containerun p {

  margin-right: 5%;
  margin-bottom: 0;
}

}