// Police des titres
$policeTitre :  'Lora', serif;

// Police textes
$policeTexte :  'Jost', sans-serif;

//Couleur Titres
$couleurTitreHeader : white;

$couleurTitreMain :  #DABB70;

//taille police

$tailleTitreEvenement: 50px;

$tailleTexte: 30px;


//couleur Textes
$couleurTexte : white;

// couleur background Main
$backgroundMain : #333333;

$backgroundFooter :  #3e6291;

$backgroundSection : #494747;



